{{template "header" .}}
<div data-options="region:'center',title:'Table【{{.name}}】生成代码'">
	<form id="crud_form"  method="post">
	    <input type="hidden" name="table" value="{{.name}}" /> 
		<table>
			<tr>
			    <td>
			    	<select class="easyui-combobox" name="idFiled" style="width:200px;"> 
			    	    {{range .columns}}
						<option value="{{.Name}}">{{.Name}}</option> 
			    	    {{end}}
						 
					</select> 
			    </td>
				<td>action目录:</td>
				<td>
					<input value="controller/" 
					class="easyui-textbox"
					name="action"  
					style="width:150px;height:22px"/> 
				</td>
				<td>view目录:</td>
				<td>
				 <input value="view/" 
				 class="easyui-textbox"
				 name="view" 
				 style="width:150px;height:22px"/>
				</td>
				<td>model目录:</td>
				<td>
				 	<input value="model/" 
				 	class="easyui-textbox"
				 	name="model"
				 	style="width:150px;height:22px"/>
				</td>
				<td>
					<a class="easyui-linkbutton" onclick="submit()" style="width:100%">生成代码</a>
			 	</td>
			</tr>
		</table>
	</form>
	<table id="dg" style="width:auto;height:auto;"></table>
</div>
{{template "footer" .}}
<script type="text/javascript">
	$(function(){
		$('#dg').datagrid({
			border:false,
			fitColumns:true,
			url:"/column/find?name={{.name}}",
			rownumbers:true,
			singleSelect:true,
			pagination:true,
			pageSize:20,
			pageList: [20,200],
			toolbar: "#tb",
			columns:[[
				{field:'name',title:'列名',width:100},
				{field:'key',title:'主键信息',width:30},
				{field:'dataType',title:'数据类型',width:30},
				{field:'tableName',title:'表名',width:60},
				{field:'comment',title:'注释',width:100}
			]],
			onLoadSuccess:function(data){
				$('.editcls').linkbutton({text:'生成代码',plain:true,iconCls:'icon-edit'});
			}
		});
	});
function submit(){
	$('#crud_form').form('submit',{
		url: "/auto/code",
		onSubmit: function(){
			return $(this).form('validate');
		},
		success: function(result){
			result=JSON.parse(result);
			alert(result);
		}
	});
}
</script>