{{define "head_tag"}}
<head>
	<meta charset="UTF-8">
	<title>{{.title}}</title>
	<link rel="stylesheet" type="text/css" href="/public/eui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/public/eui/themes/icon.css">
	<script type="text/javascript" src="/public/eui/jquery.min.js"></script>
	<script type="text/javascript" src="/public/eui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/public/eui/locale/easyui-lang-zh_CN.js"></script>
</head>
<script  type="text/javascript">
	function alert(result){
		var t="错误消息";
		var msg="";
		if(result.success){
         $.messager.alert('提示',result.ret);
		}else{
		 $.messager.alert('错误',result.msg,'error');
		}
	}
</script>>
{{end}}