{{define "header"}}
<!DOCTYPE html>
<html>
 {{template "head_tag" .}}
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:70px;background:#B3DFDA;padding:2px">
   	<div class="easyui-tabs" data-options="tabWidth:100,tabHeight:60" style="width:420px;height:65px;float: right;">
			<div title="<span class='tt-inner'><img src='public/eui/themes/icons/large_shapes.png'/><br>DB管理</span>"></div>
			<div title="<span class='tt-inner'><img src='public/eui/themes/icons/large_picture.png'/><br>文件管理</span>"></div>
			<div title="<span class='tt-inner'><img src='public/eui/themes/icons/large_smartart.png'/><br>日志信息</span>"> </div>
			<div title="<span class='tt-inner'><img src='public/eui/themes/icons/large_chart.png'/><br>统计报表</span>"> </div>
	</div>
</div>
	<style scoped="scoped">
		.tt-inner{
			display:inline-block;
			line-height:12px;
			padding-top:5px;
		}
		.tt-inner img{
			border:0;
		}
	</style>	
 <!--left nav-->
     {{template "left_nav" .}}
 <!--left nav end--> 
{{end}}