{{template "header" .}}
<div  data-options="region:'center',title:'数据表信息'">
	<table id="dg" style="width:auto;height:auto;"></table>
	<!--保存窗口-->
	<div id="win" class="easyui-window" closed="true" 
	data-options="modal:true,
				  resizable:false,
				  maximizable:false,
				  minimizable:false,
				  collapsible:false"  
	style="width:480px;height:260px;">
		<form id="saveOrUpdate" method="post" style="padding:10px;">
			     <p>记录ID: <input type="text" name="authCodeId" /></p>
			     <p>手机号: <input type="text" name="mobile" /></p>
			     <p>验证码类型: <input type="text" name="authType" /></p>
			     <p>验证码内容: <input type="text" name="authCode" /></p>
			     <p>创建时间戳: <input type="text" name="ctime" /></p>
			     <p>失效时间戳: <input type="text" name="etime" /></p>
			     
			<div style="padding:5px;text-align:center;">
				<a id="addOrUpdate" 
				   class="easyui-linkbutton" 
				   icon="icon-ok"
				   onclick="submitForm()"></a>
			</div>
		</form>
	</div>
	<!--保存窗口 END-->
</div>
<script type="text/javascript">
	$(function(){
		var pager =$('#dg').datagrid({
			border:false,
			fitColumns:true,
			url:"/auth_code/list",
			rownumbers:true,
			singleSelect:true,
			pagination:true,
			pageSize:15,
			pageList: [15,30,50,100],
			columns:[[
			    
			       {field:'authCodeId',title:' 记录ID',width:80},
			       {field:'mobile',title:' 手机号',width:80},
			       {field:'authType',title:' 验证码类型',width:80},
			       {field:'authCode',title:' 验证码内容',width:80},
			       {field:'ctime',title:' 创建时间戳',width:80},
			       {field:'etime',title:' 失效时间戳',width:80},
			       {field:'cz',title:'操作',width:80,
					formatter:function(value,rec){
					   var btn = '<a  onclick="saveOrUpdate('+rec.authCodeId+')"  style="padding:0px;" class="editcls"></a>';
					   btn+='<a  onclick="deleteByid('+rec.authCodeId+')" style="padding:0px;" class="deletecls"></a>';
					return btn;
				}}
			]],
			onLoadSuccess:function(data){
				$('.editcls').linkbutton({text:'修改',plain:true,iconCls:'icon-edit'});
				$('.deletecls').linkbutton({text:'删除',plain:true,iconCls:'icon-remove'});
			}
		}).datagrid('getPager');
		pager.pagination({
			buttons:[{
				iconCls:'icon-add',
				handler:function(){
				  saveOrUpdate(""); 
				}
			}]
		})
	});

function saveOrUpdate(id){
    if (id!="") {
    	$('#win').window({title:"修改",iconCls:'icon-edit'});
    	$('#addOrUpdate').linkbutton({text:"确认修改"});
    	$.post("/auth_code/byid",{"authCodeId":id},function(d){
			if (d.success) {
				 
				 $("input[name='authCodeId']").val(d.ret.authCodeId);
				 $("input[name='mobile']").val(d.ret.mobile);
				 $("input[name='authType']").val(d.ret.authType);
				 $("input[name='authCode']").val(d.ret.authCode);
				 $("input[name='ctime']").val(d.ret.ctime);
				 $("input[name='etime']").val(d.ret.etime);
				$('#win').window('open');
			}
		},"json");
    }else{
    	$('#win').window({title:"新建",iconCls:'icon-save'});
    	$('#addOrUpdate').linkbutton({text:"保存"});
    	 
				 $("input[name='authCodeId']").val("");
				 $("input[name='mobile']").val("");
				 $("input[name='authType']").val("");
				 $("input[name='authCode']").val("");
				 $("input[name='ctime']").val("");
				 $("input[name='etime']").val("");
				$('#win').window('open');
    	
    }
	
}
//删除该数据
function deleteByid(id){
$.post("/auth_code/delete",{"authCodeId":id},function(d){
//调用表单刷新
$('#dg').datagrid();
alert(d); 
},"json");
  
}
function submitForm(){
  var url="/auth_code/update";
  if ($("input[name='authCodeId']").val()=="") {
      url="/auth_code/save";
  }
  $('#saveOrUpdate').form('submit', {
	    url:url,
	    onSubmit: function(){
	         $.messager.progress({
                msg:'处理中...'
            });
	    },
	    success:function(data){
	    	  $.messager.progress('close');
	    	  $('#dg').datagrid();
	          alert(JSON.parse(data));
	    }
	});
}
</script>