{{define "left_nav"}}
<div data-options="region:'west',split:true,title:'菜单'" style="width:220px;padding:5px;">
     	<div class="easyui-accordion" style="width:202px;margin: 0px;border-bottom: none;">
		<div title="开发工具" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;margin: 0px;">
			 <ul style="width: 100%;padding: 0px;margin: 0px;">
			 	<li style="margin-bottom: 10px;">
			 	  <a href="/" class="easyui-linkbutton" data-options="iconCls:'icon-shading'" style="width:100%">
			 	  		界面开发
			 	  </a>
			 	</li>
			 	<li style="margin-bottom: 10px;">
			 	  <a  class="easyui-linkbutton" data-options="iconCls:'icon-database_link'" style="width:100%">
			 	  		数据库配置
			 	  </a>
			 	</li>
			 </ul>
		</div>
	</div>
</div>
{{end}}